body {
  background: url(../image/sakura.jpeg)no-repeat center center fixed;
  background-size: cover;
}

img {
  width:500px;
  height: auto;
  padding-left: 30%;
}
img.bg {
  min-height: 100%;
  min-width: 1024px;
}

}
input.search {
  width:200em;
  height:20em;
}
