html {
  background: (image/sakura.jpeg)no-repeat center center fixed;
  background-size: cover;
}

img {
  width:500px;
  height: auto;
  padding-left: 30%;
}


}
input.search {
  width:200em;
  height:20em;
}
